<footer class="footer">
	<div class="container">
		<p>
			<span>Theme By <a href="" target="_blank">Mer</a>.&nbsp;&nbsp;</span>
			<span>Powered By <a href="https://hexo.io/" target="_blank">Hexo</a>.</span>
		</p>
		<p>
			<span></span>
		</p>
	</div>
</footer>