/**
	post
*/
.article-entry
	h2, h3, h4, h5, h6
		color: #666;
	p
		margin: 1.4em 0;
	ol
		padding-left: 20px;
	ul
		padding-left: 20px;
		li
			list-style-type: disc;
	pre
		margin: 0;
		padding: 15px 20px;
		background-color: #333;
		color: white;

.articel-content
	width:100%;

.article-post
	padding: 40px;