/**
	highlight
*/

.highlight
	font-size: 13px;
	overflow-x: auto;
	.line
		color: #aeb7c2;
		.title
			color: #eabc58;
		.keyword
			color: #bd6a2e;
		.meta
			color: #a7b028;
		.params
			color: #a4a6ca;
		// 注释
		.comment
			color: #777;
	pre
		padding: 1em !important;