/**
	mobile-移动端
*/
@media mobile
	.container
		width: auto;

	.posts
		width: 98.4%;

	.sidebar
		display: none;

	.article-post
		padding: 30px 20px;

	.footer
		padding: 20px 10px;

	.highlight
		margin: 0;

@media ipad
	.container
		width: auto;

	.footer
		padding: 20px 10px;